logs/
saves/
screenshots/
coremods/
mods/*.jar
options.txt
config/sodium-fingerprint.json
downloads/
.probe
crash-reports/
command_history.txt
usercache.json
usernamecache.json
.vscode/
.mixin.out/
local/kubejs/cache/
config/jei/world/*
config/jei/ingredient-list-mod-sort-order.ini
config/jei/recipe-category-sort-order.ini
patchouli_data.json
xaero/*
XaeroWaypoints_*/
config/iris.properties